.navbar{
  background-color: #0d7687;
    font-family:'Contrail One', cursive;
}
.hr1{
    width: 27%;
    margin-left: 40px;
}

.navbar-brand{
    font-size: 30px;
}

.jumbotron{
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
    font-family: 'Contrail One', cursive;
    
}
.hola{
    margin-left: 60px;
    margin-top: 70px;
}
.nombre{
    font-family: 'Yesteryear', cursive;
    font-size: 80px;
    margin-left: 60px;

}
.sobre_mi{
    text-align: center;
    font-family: 'Contrail One', cursive;
    font-size: 40px;
    letter-spacing: 7px;
}
.parrafo1{
    text-align: center;
    font-family: 'Lekton', sans-serif;
    font-size: 30px;
    
    }
.hr2{
    width: 30%;
    
    border-color:  #0d7687;
    border-width: 5px;
    
    
}
#experiencia{
    text-align: center;
    font-family: 'Contrail One', cursive;
    padding-top: 40px;
    letter-spacing: 7px;
}


#mis_trabajos{
    background-color:#0d7687;
    font-family: 'Contrail One', cursive;
    padding-top: 40px;
    color: white;
    
}
.hr3{
    width: 30%;
    
    border-color: white;
    border-width: 5px;
}
.fas{
    color: #0d7687;
}
.container{
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
    
}

#contacto{
    font-family: 'Contrail One', cursive;
    
}
.contacto{
    padding-top: 20px;
}
.footer{
    background-color:#0d7687;
    
    
}
.sub_edicto{
    padding-top: 15px;
}
